pkgbase = android-wifi-utils
	pkgdesc = Wireless tools.
	pkgver = 0.0.0.0.0.0.0.0.0.0.0.0.1.1.1
	pkgrel = 1
	url = https://github.com/themartiancompany/android-wifi-utils
	arch = any
	license = AGPL3
	checkdepends = shellcheck
	makedepends = make
	depends = libcrash-bash
	depends = tsu
	source = android-wifi-utils-8f27f41f4a018f647d7f72128fb965b09636218e.zip::https://github.com/themartiancompany/android-wifi-utils/archive/8f27f41f4a018f647d7f72128fb965b09636218e.zip
	validpgpkeys = 97E989E6CF1D2C7F7A41FF9F95684DBE23D6A3E9
	validpgpkeys = DD6732B02E6C88E9E27E2E0D5FC6652B9D9A6C01
	sha256sums = df28f3f45ecfc31e11ef37d21d96a32b1b284f643b158825eef3b6989c70a2c8

pkgname = android-wifi-utils
